html, body {
  margin: 0;
  padding: 0;
}

#app {
  background-color: #aaa;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; /* optional, if you want to block scroll bars */
}

.green-switch:checked {
  background-color: #28a745; /* Bootstrap's green */
  border-color: #28a745;
}

#page-dashboard {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; /* optional, if you want to block scroll bars */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.center-content-hv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 100vh;            /* fill viewport height */
}

.center-content-hv-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 100vh;            /* fill viewport height */
}

.center-content-hv-col:first-child {
  gap: 3rem
}

.bg-dark-soft {
  background-color: #aaa;
  color: #111111
}

.bg-dark-medium {
  background-color: #383838;
  color: #f4f4f4
}

.bg-dark-hard {
  background-color: #111;
  color: #f4f4f4
}

.contour {
  outline: 1px solid #FFFFFF;
  outline-offset: 0px;
}

.contour-red {
  outline: 3px solid #ed2020;
  outline-offset: 0px;
}

.rounded {
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.rounded-button {
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.rounded-input {
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.drop-shadow {
  -webkit-box-shadow: 0 0 25px 1px rgba(0,0,0,.4);
  box-shadow: 0 0 25px 1px rgba(0,0,0,.4);
}

.moving-container-header {
  display: flex;
  flex-direction: column;
  user-select: none;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  font-size: 4rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.moving-container-header > h1 {
  font-size: 2rem;
  text-align: center;
}

.stats-container-headings {
  width: 100%;
  color: #ccc; 
  font-size: 1.5rem; 
  line-height: 2rem;
  margin: 0;
  vertical-align: middle;
  text-align: center !important;
  background: rgba(10,10,10,0.4);
  padding: 5px;
}

/* Holo Table Style*/
.holo-table tr{
  background-color: rgba(34, 39, 42, 0.366);
}
.holo-table td,
.holo-table th {
  padding: 0.4rem;
  border-top: 1px solid rgb(111, 111, 111);
}
.holo-table tr:first-child, .holo-table tr:first-child > th {
  border-top: none;
}